$color : blue;

*{
	margin: 0;
	padding: 0;
}

#landing_page{

}

#deer{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -40px;

}

.logo{
	font-family: 'Alfa Slab One', cursive;
	font-size:200px;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}