$color : blue;

html, body, #landing_page, #background_deer{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Alfa Slab One', cursive;
}

#header{
	background: url("https://s30.postimg.org/vuypld335/background.png");
	height: 70px;
    margin-top: 50px;
}

.logo_wrapper{
	display: inline-block;
    width: 60%;
    margin-top: 3%;
}


#background_deer{
	background-image : url("https://s30.postimg.org/lzzckwmip/3fjiywswhsk_chris_greenhow.jpg");
	background-size: 100% 100%;
	text-align: center;
	min-device-width: 768px;
	overflow: auto;
	background-attachment: fixed;
}


.logo{
	font-size:80px;
	opacity: 0.8;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: black;
    text-align: left;
    display: inline;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size:80px;
	opacity: 0.8;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: black;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#about_page{

	width: 100%;
    height: 100%;
    background-image: url("https://s30.postimg.org/4hpj1aelt/stardust.png");


}


span.glyphicon.glyphicon-chevron-down {
    font-size: 100px;
    color: white;
    opacity: 0.8;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: black;
}

#scroll_btn {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#profile{
	display: block;
    width: 300px;
    float: left;
}

#profile_img{
	width: 100%;
	height: 100%;
	margin-top: 30px;
	display: none;
}

#profile_text{
	background: url("https://s30.postimg.org/vuypld335/background.png");
	height: 60%;
	display: none;
}

#profile_text_p{
	margin-top: -15%;
}

#name{
    font-size: 70px;
    -webkit-text-fill-color: white;
    float: right;
    margin-top: 100px;
    border-bottom: 7px solid white;
    display: none;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Nunito', sans-serif;
}


#job{
	color: white;
    float: right;
    margin-right: 27%;
    margin-top: 0px;
    font-size: 25px;
    float: right;
    display: none;
    font-family: 'Nunito', sans-serif;
}

#project_page{

	width: 100%;
    height: 100%;
    background-image : url("https://s23.postimg.org/c4bobatez/tfb_ym97hgg_alisa_anton.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

#background_deer{
	background-image:none;
	background-color:red;
}


}

/*tablet*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	#background_deer{
	background-image:none;
	background-color: white;	
	}
	

}




