$color : blue;

html, body, #landing_page, #background_deer{
	margin: 0;
	padding: 0;
	height: 100%;
}


#background_deer{
	background-image : url("https://s30.postimg.org/lzzckwmip/3fjiywswhsk_chris_greenhow.jpg");
	background-size: 100% 100%;
}



.logo{
	font-family: 'Alfa Slab One', cursive;
	font-size:120px;
	   -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 6px;
   -webkit-text-stroke-color: white;
   text-align: center;
}



.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}